main {
  background-color: #03b6fc;
  text-align: center;
}
div{
    margin: auto;
}
h2 {
  font-size: 3.0em;
}

h1{
    font-size: 4.0em;
}

ul {
  list-style-position: inside;
  padding: 0;
}
header{
    background: #19beff;
}

body {
  display: block;
  margin: 0px;
}
.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.smallheader {
  padding: 2px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 15px;
}
.headerLink:hover{font-size:26px;}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}
.del{
	background-color: red;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	color:white;
}
.del{
	background-color: #fc3030;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	color:white;
}
.pack{
	background-color: #6669ff;
	text-align: center;
	display: inline-block;
	border-radius: 3px;
	color:white;
}
#options{
    padding: 100px;
    display: flex;
    flex-direction: row;
}
#add{
	background-color: green;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	color:white;
}
input[type=text], input[type=number], select{
    padding: 12px 20px;
    border: 2px solid #1abc9c;
}
input[type=text]:focus, input[type=number]:focus, select:focus{
  background-color: #D3D3D3;
}

.fancyButton {
  background-color: #1abc9c; /* Green */
  border: none;
  color: white;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  padding: 8px 8px;
  border-radius: 4px;
}
.fancyButton:hover{background-color:#21edc5;}
.largeButton {
  background-color: #4c525c; /* Green */
  border: 5px solid #7d7d8c;
  color: white;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70px;
  padding: 20px 20px;
  border-radius: 8px;
}
.largeButton:hover{background-color:#7d7d8c;}

td{
    border: 1px solid black;
    margin: 0px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
